---
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import sectionPicture from '../../images/section-picture.jpg';
// Icons managed with astro-icon + icon package (@iconify-json/ph)
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import SearchForm from '../../components/SearchForm.astro';
import { COMPOSITION_CATEGORIES_LIST, NAME } from '../../constants';
import { getPrettyCategoryName } from '../../utils';

const allCompositions: CollectionEntry<'compositions'>[] = await getCollection('compositions');
const orchestralCompositions: CollectionEntry<'compositions'>[] = (await getCollection('compositions', ({data}) => {
    return data.category.toLowerCase() === 'orchestral';
})).sort((a:CollectionEntry<'compositions'>, b:CollectionEntry<'compositions'>) =>
b.data.year - a.data.year);

const chamberMusic23Compositions: CollectionEntry<'compositions'>[] = (await getCollection('compositions', ({data}) => {
    return data.category.toLowerCase() === 'chamber-music-2-3';
})).sort((a:CollectionEntry<'compositions'>, b:CollectionEntry<'compositions'>) =>
b.data.year - a.data.year);

const chamberMusic4Compositions: CollectionEntry<'compositions'>[] = (await getCollection('compositions', ({data}) => {
    return data.category.toLowerCase() === 'chamber-music-4';
})).sort((a:CollectionEntry<'compositions'>, b:CollectionEntry<'compositions'>) =>
b.data.year - a.data.year);

const choirCompositions: CollectionEntry<'compositions'>[] = (await getCollection('compositions', ({data}) => {
    return data.category.toLowerCase() === 'choir';
})).sort((a:CollectionEntry<'compositions'>, b:CollectionEntry<'compositions'>) =>
b.data.year - a.data.year);

const vocalCompositions: CollectionEntry<'compositions'>[] = (await getCollection('compositions', ({data}) => {
    return data.category.toLowerCase() === 'vocal';
})).sort((a:CollectionEntry<'compositions'>, b:CollectionEntry<'compositions'>) =>
b.data.year - a.data.year);

const soloInstrumentalCompositions: CollectionEntry<'compositions'>[] = (await getCollection('compositions', ({data}) => {
    return data.category.toLowerCase() === 'solo-instrumental';
})).sort((a:CollectionEntry<'compositions'>, b:CollectionEntry<'compositions'>) =>
b.data.year - a.data.year);

// An array of available categories - categories enum is defined in 'config.ts' and has to be the same in constants.ts (which defines the order)
// const categories = [...new Set(allCompositions.map((composition) => composition.data.category).flat())];
const categories = COMPOSITION_CATEGORIES_LIST;


const title = 'Compositions - ' + NAME
const description = "Compositions" // TODO
---

<Layout title={title}, description={description} current="compositions">
    <div class="container max-w-[1120px] flex flex-col mx-auto p-4">
        <Image src={sectionPicture} alt="Section Picture" />

        <h1 class="text-3xl lg:text-5xl font-bold mt-10 mb-6">Compositions</h1>
        
        <div class="flex flex-col gap-4 text-base lg:text-lg font-regular font-serif mb-6">
            <p>This is not an exhaustive list of all the works that I have composed until now. The list is presented
                here as a resource for performers who would like to find compositions to perform and information on
                my compositions. Those works that I suspect are worth the efforts of performers and listeners are
                included here. Several compositions were on my work list for some time and were then withdrawn.
                Compositions which are currently on this list, might also be withdrawn in future.
                (<a href="/compositions" class="text-blue-800 underline underline-offset-8 hover:no-underline">Here</a> you can find
                more information on this matter.)
            </p>
            <p>This list was last updated in August 2024.</p>
        </div>

        <SearchForm />

        <ul class="flex flex-row flex-nowrap overflow-x-auto space-x-4 my-8">
            {categories.map(category => (
                <a href={'#category-' + category}>
                    <li class="flex flex-row flex-nowrap items-center space-x-1 text-gray-400 hover:text-black">
                        <span class="uppercase text-nowrap">{getPrettyCategoryName(category)}</span>
                        <Icon name="prime--arrow-down" />
                    </li>
                </a>
            ))}
        </ul>

        <h2 id="category-orchestral" class="text-2xl font-bold mb-6">Orchestral</h2>

        <div class="flex flex-col space-y-4 mb-16">
            {orchestralCompositions.map(composition => (
                <div class="font-serif">
                    {/* <a href={'/compositions/' + composition.slug} class="group text-xl font-semibold mb-2 flex items-center w-fit space-x-2 hover:underline underline-offset-8"> */}
                    <a class="group text-xl font-semibold mb-2 flex items-center w-fit space-x-2 hover:underline underline-offset-8">
                        <span>{composition.data.title} ({composition.data.year})</span>
                        <Icon class="group-hover:translate-x-1 transition duration-300 ease-in-out" name="prime--arrow-right" />
                    </a>
                    <span class="italic text-lg">{composition.data.subtitle}</span>
                </div>
            ))}
        </div>

        <h2 id="category-chamber-music-2-3" class="text-2xl font-bold mb-6">Chamber Music: 2-3 Performers</h2>

        <div class="flex flex-col space-y-4 mb-16">
            {chamberMusic23Compositions.map(composition => (
                <div class="font-serif">
                    <a class="group text-xl font-semibold mb-2 flex items-center w-fit space-x-2 hover:underline underline-offset-8">
                        <span>{composition.data.title} ({composition.data.year})</span>
                        <Icon class="group-hover:translate-x-1 transition duration-300 ease-in-out" name="prime--arrow-right" />
                    </a>
                    <span class="italic text-lg">{composition.data.subtitle}</span>
                </div>
            ))}
        </div>

        <h2 id="category-chamber-music-4" class="text-2xl font-bold mb-6">Chamber Music: 4 Performers</h2>

        <div class="flex flex-col space-y-4 mb-16">
            {chamberMusic4Compositions.map(composition => (
                <div class="font-serif">
                    <a class="group text-xl font-semibold mb-2 flex items-center w-fit space-x-2 hover:underline underline-offset-8">
                        <span>{composition.data.title} ({composition.data.year})</span>
                        <Icon class="group-hover:translate-x-1 transition duration-300 ease-in-out" name="prime--arrow-right" />
                    </a>
                    <span class="italic text-lg">{composition.data.subtitle}</span>
                </div>
            ))}
        </div>

        <h2 id="category-choir" class="text-2xl font-bold mb-6">Choir</h2>

        <div class="flex flex-col space-y-4 mb-16">
            {choirCompositions.map(composition => (
                <div class="font-serif">
                    <a class="group text-xl font-semibold mb-2 flex items-center w-fit space-x-2 hover:underline underline-offset-8">
                        <span>{composition.data.title} ({composition.data.year})</span>
                        <Icon class="group-hover:translate-x-1 transition duration-300 ease-in-out" name="prime--arrow-right" />
                    </a>
                    <span class="italic text-lg">{composition.data.subtitle}</span>
                </div>
            ))}
        </div>

        <h2 id="category-vocal" class="text-2xl font-bold mb-6">Vocal</h2>

        <div class="flex flex-col space-y-4 mb-16">
            {vocalCompositions.map(composition => (
                <div class="font-serif">
                    <a class="group text-xl font-semibold mb-2 flex items-center w-fit space-x-2 hover:underline underline-offset-8">
                        <span>{composition.data.title} ({composition.data.year})</span>
                        <Icon class="group-hover:translate-x-1 transition duration-300 ease-in-out" name="prime--arrow-right" />
                    </a>
                    <span class="italic text-lg">{composition.data.subtitle}</span>
                </div>
            ))}
        </div>

        <h2 id="category-solo-instrumental" class="text-2xl font-bold mb-6">Solo Instrumental</h2>

        <div class="flex flex-col space-y-4 mb-16">
            {soloInstrumentalCompositions.map(composition => (
                <div class="font-serif">
                    <a class="group text-xl font-semibold mb-2 flex items-center w-fit space-x-2 hover:underline underline-offset-8">
                        <span>{composition.data.title} ({composition.data.year})</span>
                        <Icon class="group-hover:translate-x-1 transition duration-300 ease-in-out" name="prime--arrow-right" />
                    </a>
                    <span class="italic text-lg">{composition.data.subtitle}</span>
                </div>
            ))}
        </div>

    </div>
</Layout>
