---
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import sectionPicture from '../../images/section-picture.jpg';
// Icons managed with astro-icon + icon package (@iconify-json/ph)
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import SearchForm from '../../components/SearchForm.astro';

const allCompositions: CollectionEntry<'compositions'>[] = await getCollection('compositions');
const orchestralCompositions: CollectionEntry<'compositions'>[] = await getCollection('compositions', ({data}) => {
    return data.category.toLowerCase() === 'orchestra';
});
const soloCompositions: CollectionEntry<'compositions'>[] = await getCollection('compositions', ({data}) => {
    return data.category.toLowerCase() === 'solo';
});
const pianoCompositions: CollectionEntry<'compositions'>[] = await getCollection('compositions', ({data}) => {
    return data.category.toLowerCase() === 'piano';
});

// An array of available categories - categories enum is defined in 'config.ts'
const categories = [...new Set(allCompositions.map((composition) => composition.data.category).flat())];

const title = 'Compositions';
const description = 'Compositions';
---

<Layout title={title}, description={description} current="compositions">
    <div class="container max-w-[1120px] flex flex-col mx-auto p-4">
        <Image src={sectionPicture} alt="Section Picture" />

        <h1 class="text-5xl font-bold mt-10 mb-6">Compositions</h1>
        
        <SearchForm />

        <ul class="flex flex-row flex-nowrap overflow-x-auto space-x-4 my-8">
            {categories.map(category => (
                <a href={'#category-' + category}>
                    <li class="flex flex-row flex-nowrap items-center space-x-1 text-gray-400 hover:text-black">
                        <span class="uppercase text-nowrap">{category}</span>
                        <Icon name="prime--arrow-down" />
                    </li>
                </a>
            ))}
        </ul>

        <h2 id="category-orchestra" class="text-2xl font-bold mb-6">Orchestra</h2>

        <div class="flex flex-col space-y-4 mb-16">
            {orchestralCompositions.map(composition => (
                // <CompositionCard composition={composition} />
                <div class="font-serif">
                    <a href={'/compositions/' + composition.slug} class="text-xl font-semibold mb-2 flex items-center space-x-2 hover:underline underline-offset-8">
                        <span>{composition.data.title} ({composition.data.year})</span>
                        <Icon name="prime--arrow-right" />
                    </a>
                    <span class="italic text-lg">{composition.data.subtitle}</span>
                </div>
            ))}
        </div>

        <h2 id="category-solo" class="text-2xl font-bold mb-6">Solo</h2>

        <div class="flex flex-col space-y-4 mb-16">
            {soloCompositions.map(composition => (
                <div class="font-serif">
                    <a href={'/compositions/' + composition.slug} class="text-xl font-semibold mb-2 flex items-center space-x-2 hover:underline underline-offset-8">
                        <span>{composition.data.title} ({composition.data.year})</span>
                        <Icon name="prime--arrow-right" />
                    </a>
                    <span class="italic text-lg">{composition.data.subtitle}</span>
                </div>
            ))}
        </div>

        <h2 id="category-piano" class="text-2xl font-bold mb-6">Piano</h2>

        <div class="flex flex-col space-y-4 mb-16">
            {pianoCompositions.map(composition => (
                <div class="font-serif">
                    <a href={'/compositions/' + composition.slug} class="text-xl font-semibold mb-2 flex items-center space-x-2 hover:underline underline-offset-8">
                        <span>{composition.data.title} ({composition.data.year})</span>
                        <Icon name="prime--arrow-right" />
                    </a>
                    <span class="italic text-lg">{composition.data.subtitle}</span>
                </div>
            ))}
        </div>


    </div>
</Layout>
