---
import Layout from '../layouts/Layout.astro';
import { SITE_NAVIGATION, NAME } from "../constants";
import { Image } from 'astro:assets';
import RibbonInformation from '../images/Ribbon-5-Information.webp';
// Icons managed with astro-icon + icon package (@iconify-json/ph)
import { Icon } from 'astro-icon/components';

const title = 'Information - ' + NAME;
const description = "Information"; // TODO
---

<Layout title={title}, description={description}, current="information">
    <div class="container max-w-[1120px] flex flex-col items-start mx-auto p-4">
        <Image src={RibbonInformation} alt="Ribbon Information" />

        <h1 class="text-3xl lg:text-5xl font-bold mt-10 mb-6">Information</h1>

        <div class="font-serif text-xl font-medium flex flex-col space-y-2 mb-20">
            {SITE_NAVIGATION[5].submenu?.map(submenuentry => (
                <a href={submenuentry.href} class="group flex items-center space-x-2 hover:underline underline-offset-8">
                    <span class="capitalize">{submenuentry.name}</span>
                    <Icon class="group-hover:translate-x-1 transition duration-300 ease-in-out" name="prime--arrow-right" />
                </a>
            ))}
        </div>

    </div>
</Layout>