---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_NAVIGATION } from "../constants";
import { Image } from 'astro:assets';
import sectionPicture from '../images/section-picture.jpg';
// Icons managed with astro-icon + icon package (@iconify-json/ph)
import { Icon } from 'astro-icon/components';

const title = 'Information';
const description = 'Information';
---

<Layout title={title}, description={description}, current="information">
    <div class="container max-w-[1120px] flex flex-col items-start mx-auto p-4">
        <Image src={sectionPicture} alt="Section Picture" />

        <h1 class="text-5xl font-bold mt-10 mb-6">Information</h1>

        <div class="font-serif text-xl font-medium flex flex-col space-y-2 mb-20">
            {SITE_NAVIGATION[5].submenu?.map(submenuentry => (
                <a href={submenuentry.href} class="flex items-center space-x-2 hover:underline underline-offset-8">
                    <span class="capitalize">{submenuentry.name}</span>
                    <!-- Arrow -->
                    <Icon name="ph:arrow-right" widths="20" x-height="20"/>
                </a>
            ))}
        </div>

    </div>
</Layout>