---
import { NAME } from "../constants";
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import ribbonScholarly from '../images/Ribbon-I-3.webp';
// Icons managed with astro-icon + icon package (@iconify-json/ph)
import { Icon } from 'astro-icon/components';
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { formatDate } from "../utils";

// Sorted by Date descending
const allScholarlyEntries: CollectionEntry<'scholarly'>[] = (await getCollection('scholarly'))
    .sort((a:CollectionEntry<'scholarly'>, b:CollectionEntry<'scholarly'>) =>
    b.data.yearPublished - a.data.yearPublished);

const title = 'Scholarly - ' + NAME;
const description = "Scholarly"; // TODO
---

<Layout title={title}, description={description} current="information">
    <div class="container max-w-[1120px] flex flex-col mx-auto p-4">
        <Image src={ribbonScholarly} alt="Ribbon Scholarly" />

        <h1 class="text-3xl lg:text-5xl font-bold mt-10 mb-8">Scholarly</h1>

            <div class="flex flex-col divide-y mb-20">
                {allScholarlyEntries.map(entry => (
                <div class="flex flex-row space-x-6 py-6 first:pt-0 last:pb-0">
                    <div class="font-serif">
                        <h3 class="text-xl font-medium mb-2">{entry.data.title}</h3>
                        <div class="mb-2">
                            <span class="">{entry.data.authors.join(', ')}</span>
                        </div>
                        <div class="mb-2">{entry.data.publishedIn}</div>
                        <div class="text-sm mb-4">
                            <span class="text-gray-500">Year: {entry.data.yearPublished}</span>
                            <span class="text-neutral-400 mx-2">&middot;</span>
                            <a href={entry.data.doiURL} class="text-blue-600 hover:underline underline-offset-4">{entry.data.doiURL}</a>
                        </div>
                        <div class="text-xl mb-2">Abstract</div>
                        <p>{entry.body}</p>
                    </div>
                </div>
            ))}
            </div>

    </div>
</Layout>