---
import { NAME } from "../../constants";
import Layout from "../../layouts/Layout.astro";
import { Image } from 'astro:assets';
import ribbonMyThoughts from '../../images/Ribbon-I-4.webp';
// Icons managed with astro-icon + icon package (@iconify-json/ph)
import { Icon } from 'astro-icon/components';
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { formatDate } from "../../utils";

// Sorted by Date descending
const myThoughts: CollectionEntry<'my-thoughts'>[] = (await getCollection('my-thoughts'))
    .sort((a:CollectionEntry<'my-thoughts'>, b:CollectionEntry<'my-thoughts'>) =>
    b.data.datePublished.valueOf() - a.data.datePublished.valueOf());

const title = 'My Thoughts - ' + NAME;
const description = "My Thoughts"; // TODO
---

<Layout title={title}, description={description} current="information">
    <div class="container max-w-[1120px] flex flex-col mx-auto p-4">
        <Image src={ribbonMyThoughts} alt="Ribbon My Thoughts" />

        <h1 class="text-3xl lg:text-5xl font-bold mt-10 mb-8">My Thoughts</h1>

        <div class="flex flex-col divide-y mb-20">
            {myThoughts.map(article => (
                <div class="font-serif py-6 first:pt-0 last:pb-0">
                    <div class="text-xl font-medium mb-6">{article.data.name}</div>
                    <p class="line-clamp-3 text-gray-500 mb-6">{article.body}</p>
                    <a href={'/my-thoughts/' + article.id} class="group font-sans flex items-center w-fit space-x-2 text-blue-800 hover:underline underline-offset-8">
                        <span>Read More</span>
                        <Icon class="group-hover:translate-x-1 transition duration-300 ease-in-out" name="prime--arrow-right" />
                    </a>  
                </div>
                
            ))}
        </div>

    </div>
</Layout>